/.bundle
/.env*
!/env.example
/config/master.key
/coverage
/log/*
!/log/.keep
/node_modules
/public/assets
/public/vite*
/storage/*
!/storage/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids
/tmp/pids/*
!/tmp/pids/.keep
.DS_Store
