<section class="mx-auto max-w-4xl px-5 py-12">
  <%= link_to "Docs", docs_path, class: "text-sm text-sky-300" %>
  <article class="prose prose-invert mt-6 max-w-none prose-headings:text-white prose-a:text-sky-300 prose-code:text-sky-200">
    <%= sanitize @html, tags: %w[h1 h2 h3 h4 p ul ol li strong em code pre a blockquote table thead tbody tr th td hr br], attributes: %w[href title class] %>
  </article>
</section>
